@font-face {
    font-family: 'Yekan';
    src: url('./fonts/Yekan.eot');
    src: url('./fonts/Yekan.eot?#iefix') format("embedded-opentype"),
    url('./fonts/Yekan.woff2') format('woff2'),
    url('./fonts/Yekan.woff') format('woff'),
    url('./fonts/Yekan.ttf') format('truetype'),
	url('./fonts/Yekan.otf') format('opentype'),
    url('./fonts//Yekan.svg#Yekan') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Samim';
    src: url('./fonts/Samim.eot');
    src: url('./fonts/Samim.eot?#iefix') format("embedded-opentype"),
    url('./fonts/Samim.woff2') format('woff2'),
    url('./fonts/Samim.woff') format('woff'),
    url('./fonts/Samim.ttf') format('truetype'),
	url('./fonts/Samim.otf') format('opentype'),
    url('./fonts//Samim.svg#Samim') format('svg');
    font-weight: normal;
    font-style: normal;
}
a ,a:hover ,a:visited{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
  
/* colors */
:root {
    --blue-light: #A2CFFF; 
    --indigo-light: #C7A8FA;
    --purple-light: #CABAE8;
    --pink-light: #F6B8D5;
    --red-light: #F2B5BB;
    --orange-light: #FED0A9;
    --yellow-light: #FFE8A4;
    --green-light: #B0DFBB;
    --teal-light: #ADEBD9;
    --cyan-light: #AADDE5;

    --background:#c2cedc;/*#f7fafc;*/
    --secoundbackground:#f7f7f7;/*#f7fafc;*/
    --border:#e9eaed;
    --fontcolor:#777777;/*#1d8cf1;*/
    
}

/* colors */
body{
    font-family: 'Samim';
    direction: rtl;
}

.flexColumn{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.taak_form{
    margin-block-end: 0;
    width: 100%;
}
.content{
    width: 100%;
    background-color: var(--background);
    height: calc(100vh - 56px);
    display: flex;
    flex-flow: row;
    justify-content: center;
    overflow-y: auto;
}



a:not([href]):not([tabindex]) {
    color: black;
    
}

a:not([href]):not([tabindex]):hover {
    color: blue;
    
}



.hoverable{
    cursor: pointer;
}

.hoverable:hover{
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.pagecontent{
    display: flex;
    flex-flow: row;
}

.mainBody{
    display: flex;
    flex-flow: column;
    margin-top: 56px;
}

.content-card{
    margin:10px;
    width:100%;
    
    display:flex;
    flex-flow:column;

    background-color: var(--secoundbackground);
    border-radius: 4px;
    border: 1px solid var(--border);
    
}
.content-card-header{
    width:100%;
    line-height: 1.5;
    font-size: 1.2em;
    padding: 10px;
    font-weight:700;
    
}

.content-card-body{
    height: 100%;
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    justify-content:start;
    padding: 10px;
    align-items: start;
    overflow: auto;
}
.content-card-body-column{
    height: 100%;
    display:flex;
    flex-flow:column;
    /* flex-wrap:wrap; */
    justify-content:start;
    padding: 10px;
    align-items: start;
    overflow-y: auto;
}

.content-card-footer{
    padding: 5px;
    
    
}
.content-row{
    width: 100%;
    display:flex;
    flex-flow: row;

}

.form-group{
    display:flex;
    flex-flow:row;
    width:100%;
  
  }
  .form-group-first{
    width:20%;
    text-align:left;
    margin: unset auto;
    padding: 0px 10px;
  }
  .form-group-last{
    width:80%;
  }

  .form-control{
    
    height: calc(1.8125rem + 2px);
  }
  .custom-select{
    height: calc(1.8125rem + 2px);
    line-height: 1;
  }
  
 .required:before{
    content:"*";
    color:red;
    margin-left: 5px;
  }
  tbody > tr:hover{
    background-color:white;
}