@font-face {
    font-family: 'Yekan';
    src: url('./fonts/Yekan.eot');
    src: url('./fonts/Yekan.eot?#iefix') format("embedded-opentype"),
    url('./fonts/Yekan.woff2') format('woff2'),
    url('./fonts/Yekan.woff') format('woff'),
    url('./fonts/Yekan.ttf') format('truetype'),
	url('./fonts/Yekan.otf') format('opentype'),
    url('./fonts//Yekan.svg#Yekan') format('svg');
    font-weight: normal;
    font-style: normal;
}
a ,a:hover ,a:visited{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
  
/* colors */
:root {
    --blue-light: #A2CFFF; 
    --indigo-light: #C7A8FA;
    --purple-light: #CABAE8;
    --pink-light: #F6B8D5;
    --red-light: #F2B5BB;
    --orange-light: #FED0A9;
    --yellow-light: #FFE8A4;
    --green-light: #B0DFBB;
    --teal-light: #ADEBD9;
    --cyan-light: #AADDE5;
}

/* colors */
body{
    font-family: 'Yekan';
    direction: rtl;
}

.flexColumn{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.taak_form{
    margin-block-end: 0;
    width: 100%;
}
.content{
    width: 100%;
    background-color: antiquewhite;
    height: calc(100vh - 56px);
    display: flex;
    flex-flow: row;
    justify-content: center;
    overflow-y: auto;
}

.app_container{
    width: 90%;
    margin-top:0px;
    margin-bottom: auto;
    display: flex;
    flex-flow:row;
    flex-wrap: wrap;
    justify-content: center;

}

a:not([href]):not([tabindex]) {
    color: black;
    
}

a:not([href]):not([tabindex]):hover {
    color: blue;
    
}
.app_item{
    width: 200px;
    align-content: center;
    text-align: left;
    background-color: #a8fcfc80;
    cursor: pointer;
    margin: 10px;
    display: flex;
    flex-flow: column;
    border: 1px solid gray;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.app_item:hover{
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.app_actions{
    padding:0px 10px;
}

.app_title{
    text-align: center;
    margin:10px;
    font-size: 2em;
}

.app_logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto; 
    text-align: center;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.hoverable{
    cursor: pointer;
}

.hoverable:hover{
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.pagecontent{
    display: flex;
    flex-flow: row;
}

.mainBody{
    display: flex;
    flex-flow: column;
    margin-top: 56px;
}

.content-card{
    margin:10px;
    width:100%;
    box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important;
    display:flex;
    flex-flow:column;
    border: 1px solid gray;
}
.content-card-header{
    width:100%;
    line-height: 1.5;
    font-size: 1.2em;
    padding: 10px;
    font-weight:700;
    border-bottom: 1px solid gray;
    background-color:#adb5bd;
}

.content-card-body{
    height: 100%;
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    justify-content:start;
    padding: 10px;
    align-items: start;
    overflow: auto;
}
.content-card-body-column{
    height: 100%;
    display:flex;
    flex-flow:column;
    flex-wrap:wrap;
    justify-content:start;
    padding: 10px;
    align-items: start;
}

.content-card-footer{
    padding: 5px;
    border-top: 1px solid gray;
    background-color:#adb5bd;
}
.content-row{
    width: 100%;
    display:flex;
    flex-flow: row;

}